<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>User Management</title>
  </head>
  <body style="margin: 0;">
    <div id="root"></div>
    <script>
      <%= injectScript %>
    </script>
  </body>
</html>
<!--       _
       .__(.)< (MEOW)
        \___)   
 @@@@@@@@@@@@@@@@@@-->
